[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.7"
djangorestframework = "==3.8.2"
pytz = "==2018.5"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.6"
